<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Winform_Home.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="language" value="en"/>
  </appSettings>
  <userSettings>
    <Winform_Home.Properties.Settings>
      <setting name="Location" serializeAs="String">
        <value>50, 50</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>1400, 900</value>
      </setting>
      <setting name="EnglishChecked" serializeAs="String">
        <value>Checked</value>
      </setting>
      <setting name="PolishChecked" serializeAs="String">
        <value>Unchecked</value>
      </setting>
    </Winform_Home.Properties.Settings>
  </userSettings>
</configuration>